<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon-home" aria-hidden="true"> Home</span>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#!/phones"><span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
                        Telefonos<span class="sr-only">(current)</span></a></li>
                <li><a ng-href="#!/comparador">Comparador</a></li>
                <li><a href="#!/nuevo/">Nuevo telefono</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a ng-href="#!/cesta"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                        Cesta de la compra</a>
                </li>
            </ul>
        </div>
    </div>
</nav>