<h1>Nuevo Movil</h1>
<div class="row">
  <div class="col-md-6">
    <form name="form" ng-submit="$ctrl.guardar()" novalidate>
      <div class="form-group">
        <label for="nombrePhone" class="col-sm-2 control-label">Nombre</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" required ng-model="$ctrl.form.name" id="nombrePhone" name="name"
            placeholder="Nombre">
        </div>
        <label for="DescripPhone" class="col-sm-2 control-label">Descripcion</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" required ng-model="$ctrl.form.snippet" name="snippet"
            placeholder="Descripcion">
        </div>
        <button type="submit" value="guardar" ng-disabled="form.$invalid" class="btn btn-primary">Guardar</button>
    </form>
  </div>
</div>
<div class="col-md-6">
  <pre>{{ form | json }}</pre>
</div>