<div class="container">
  <h1>Lista de la compra</h1>

  <table class="table">
    <thead>
      <th>Foto</th>
      <th>Nombre</th>
      <th>Cantidad</th>

    </thead>
    <tbody>
      <tr ng-repeat="movil in $ctrl.comprarMovil() track by $index">
           <!-- track by $index permite que el ng-repeat tenga elementos duplicados dentro del array-->
        <td><img src="{{movil.imagen}}" alt="{{movil.id}}" width="150px"></td>
        <td>{{movil.id}}</td>
        <td>{{movil.cantidad}}</td>
      </tr>
    </tbody>
  </table>
</div>