
<div class="container">
  <h1>Comparador</h1>
  <div class="row">
    <p>
      Buscar:
      <input ng-model="$ctrl.query.id" />
    </p>
    <div class="col-md-2"> <b>Listado Moviles</b><br />
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="phone in $ctrl.phones | filter:$ctrl.query">
          <img src="{{phone.imageUrl}}" alt="{{phone.name}}" class="responsive" ng-click="$ctrl.seleccionar(phone)">
          {{phone.name}}</li>
      </ul>
    </div>
    <phone-comparador-detalle mostrar='$ctrl.phone1' comparar='$ctrl.phone2'></phone-comparador-detalle>
    <phone-comparador-detalle comparar='$ctrl.phone1' mostrar='$ctrl.phone2'></phone-comparador-detalle>
    <div class="col-md-2"> <b>Cesta de la compra</b> <br />
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="(key,movil) in $ctrl.comprarMovil()">{{movil.id}} <br> 
          <b>cantidad:</b> {{movil.cantidad}}
        </li>
      </ul>
    </div> <!-- end row -->
  </div>
</div>